@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
:root {
  --ui-bck: #f5f7fb;
  --ui-bck2: #ffffff;
  --ui-add-success: #4bd6aa;
  --ui-primary: #03094f;
  --ui-secondary: #e9354b;
  --typography-main: #333332;
  --typography-third: #818385; }

* {
  font-family: "IBM Plex Sans", sans-serif; }

body {
  background: var(--ui-bck);
  position: relative; }

ul li {
  list-style-type: none; }

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px; }

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 66px;
  line-height: 72px; }

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px; }

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px; }

.nav-tabs {
  border-bottom: none !important; }

span,
p,
.typ-plain {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px; }

.typ-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px; }

.typ-secondary {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px; }

.navbar {
  background: var(--ui-bck);
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }
  .navbar .navbar-brand {
    color: var(--typography-main);
    font-weight: bold; }

.navbar.scrolled-nav {
  background: var(--ui-bck); }

.nav-link .active {
  color: var(--typography-main); }

.nav-item:not(.active) {
  color: var(--typography-third); }

a[href*="viabletrade"] {
  color: #ffffff; }

.btn-p {
  background: var(--ui-secondary);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff; }

.btn-p:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }

#home {
  padding-top: 30vh;
  height: 100vh;
  background-image: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat; }
  #home h3 {
    max-width: 440px;
    text-align: center;
    color: var(--ui-bck2);
    font-weight: 900;
    letter-spacing: 2 !important; }
  #home p {
    max-width: 570px;
    color: var(--ui-bck); }
  #home .btn {
    width: 219px;
    padding: 11px; }

#hiw {
  padding-top: 70px;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #hiw .inside-hiw h3 {
    text-align: center;
    margin-bottom: 40px; }
  #hiw .inside-hiw .wdiw {
    max-width: 343px;
    display: block;
    margin: 10vh auto; }
  #hiw .carousel-indicators {
    top: 103%; }
    #hiw .carousel-indicators li {
      border-radius: 50%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 25px !important;
      height: 25px !important;
      background: #cecece; }
    #hiw .carousel-indicators .active {
      background: var(--ui-primary);
      -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }
  #hiw .card {
    width: 230px;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 auto;
    min-height: 509px; }
    #hiw .card .card-img-top {
      width: 100%;
      height: 203px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    #hiw .card .c-1 {
      background-image: url(./images/export.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat; }
    #hiw .card .c-2 {
      background-image: url(./images/charts.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat; }
    #hiw .card .c-3 {
      background-image: url(./images/dashboard.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat; }
    #hiw .card .image-text {
      display: block;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #03094f; }
  #hiw .cards-hiw {
    display: none; }

#for {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 10vh; }
  #for h3 {
    text-align: center;
    margin-bottom: 40px; }
  #for .wrap-ff {
    max-width: 334px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #for .wrap-ff li {
      cursor: pointer;
      padding: 2%; }
      #for .wrap-ff li a {
        color: var(--ui-secondary);
        text-decoration: none; }
      #for .wrap-ff li a.active {
        color: var(--typography-main); }
  #for .card-for {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-bottom: 10%; }
    #for .card-for img {
      height: 266px;
      max-width: 266px; }
    #for .card-for .btn {
      width: 82%;
      display: block;
      padding: 11px; }

footer {
  padding-top: 10vh;
  padding-bottom: 14px; }
  footer .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 7vh;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    footer .footer-wrap .contact-block,
    footer .footer-wrap .cont-data-block {
      width: 310px;
      margin-top: 5vh; }
      footer .footer-wrap .contact-block a,
      footer .footer-wrap .cont-data-block a {
        color: #e9354b; }
      footer .footer-wrap .contact-block ul,
      footer .footer-wrap .cont-data-block ul {
        padding: 0;
        margin: 0; }
      footer .footer-wrap .contact-block ul li,
      footer .footer-wrap .cont-data-block ul li {
        margin-bottom: 11px; }
      footer .footer-wrap .contact-block button,
      footer .footer-wrap .cont-data-block button {
        background: #dfe3ec !important;
        border: none;
        color: var(--typography-main);
        font-weight: 600;
        font-size: 15px; }
  footer .mini-footer p {
    font-size: 9px !important;
    text-align: center; }
    footer .mini-footer p a {
      color: #e9354b !important;
      cursor: pointer; }

@media screen and (min-width: 768px) {
  #home .container {
    margin-top: 14vh;
    text-align: center; }
  #home h3 {
    max-width: 100%;
    margin-bottom: 33px;
    color: var(--ui-bck2);
    letter-spacing: 7px; }
  #home p {
    max-width: 72%;
    margin: 0 auto;
    display: block;
    margin-bottom: 55px;
    color: var(--ui-bck);
    line-height: 28px; }
  #home .btn {
    width: 219px;
    padding: 11px; }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 54px; }

  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px; }

  .wdiw {
    max-width: 663px !important; }

  #carouselExampleIndicators {
    display: none; }

  .cards-hiw {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 750px; }

  #for h3 {
    margin-bottom: 33px; }
  #for .wrap-ff {
    max-width: 631px;
    margin: 0 auto; }
  #for .card-for {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 631px;
    height: 366px;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding-bottom: 2%; }
    #for .card-for img {
      max-width: 345px; } }
@media screen and (min-width: 1040px) {
  .cards-hiw {
    width: 990px; }

  #hiw .card {
    width: 300px; } }

/*# sourceMappingURL=index.css.map */