@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");

:root {
  --ui-bck: #f5f7fb;
  --ui-bck2: #ffffff;
  --ui-add-success: #4bd6aa;
  --ui-primary: #03094f;
  --ui-secondary: #e9354b;
  --typography-main: #333332;
  --typography-third: #818385;
}

$ui-primary: #03094f;
$ui-secondary: #e9354b;
$ui-bck2: #ffffff;
$ui-card-effect: rgba(#03094f, 0.4);
$ui-card-effect-step-bck: rgba(#ffffff, 0.7);
$ui-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background: var(--ui-bck);
  position: relative;
}

ul li {
  list-style-type: none;
}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 66px;
  line-height: 72px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
}

.nav-tabs {
  border-bottom: none !important;
}

span,
p,
.typ-plain {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
}

.typ-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.typ-secondary {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.navbar {
  background: var(--ui-bck);
  transition: 350ms ease;
  box-shadow: $ui-shadow;

  .navbar-brand {
    color: var(--typography-main);
    font-weight: bold;
  }
}
.navbar.scrolled-nav {
  background: var(--ui-bck);
}
.nav-link .active {
  color: var(--typography-main);
}

.nav-item:not(.active) {
  color: var(--typography-third);
}

a[href*="viabletrade"] {
  color: $ui-bck2;
}

.btn-p {
  background: var(--ui-secondary);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $ui-bck2;
}

.btn-p:hover {
  color: $ui-bck2;
  box-shadow: $ui-shadow;
}

#home {
  padding-top: 30vh;
  height: 100vh;
  background-image: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat;

  h3 {
    max-width: 440px;
    text-align: center;
    color: var(--ui-bck2);
    font-weight: 900;
    letter-spacing: 2 !important;
  }
  p {
    max-width: 570px;
    color: var(--ui-bck);
  }
  .btn {
    width: 219px;
    padding: 11px;
  }
}

#hiw {
  padding-top: 70px;
  padding-bottom: 10vh;
  display: flex;
  flex-flow: column;
  align-items: center;

  .inside-hiw {
    h3 {
      text-align: center;
      margin-bottom: 40px;
    }

    .wdiw {
      max-width: 343px;
      display: block;
      margin: 10vh auto;
    }
  }

  .carousel-indicators {
    top: 103%;

    li {
      border-radius: 50%;
      box-sizing: border-box;
      width: 25px !important;
      height: 25px !important;
      background: #cecece;
    }

    .active {
      background: var(--ui-primary);
      box-shadow: $ui-shadow;
    }
  }

  .card {
    width: 230px;
    box-shadow: $ui-shadow;
    border-radius: 4px;
    margin: 0 auto;
    min-height: 509px;

    .card-img-top {
      width: 100%;
      height: 203px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .c-1 {
      background-image: url(./images/export.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
    }
    .c-2 {
      background-image: url(./images/charts.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
    }
    .c-3 {
      background-image: url(./images/dashboard.svg);
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
    }
    .image-text {
      display: block;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      text-align: center;
      background: $ui-card-effect-step-bck;

      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;

      display: flex;
      align-items: center;
      justify-content: center;
      color: #03094f;
    }
  }

  .cards-hiw {
    display: none;
  }
}

#for {
  background: $ui-bck2;
  padding-top: 75px;
  padding-bottom: 10vh;

  h3 {
    text-align: center;
    margin-bottom: 40px;
  }

  .wrap-ff {
    max-width: 334px;
    box-sizing: border-box;

    li {
      cursor: pointer;
      padding: 2%;
      a {
        color: var(--ui-secondary);
        text-decoration: none;
      }

      a.active {
        color: var(--typography-main);
      }
    }
  }

  .card-for {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      height: 266px;
      max-width: 266px;
    }

    .btn {
      width: 82%;
      display: block;
      padding: 11px;
    }

    padding-bottom: 10%;
  }
}

footer {
  padding-top: 10vh;
  padding-bottom: 14px;

  .footer-wrap {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 7vh;
    justify-content: space-around;

    .contact-block,
    .cont-data-block {
      width: 310px;
      margin-top: 5vh;

      a {
        color: $ui-secondary;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      ul li {
        margin-bottom: 11px;
      }

      button {
        background: #dfe3ec !important;
        border: none;
        color: var(--typography-main);
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
  .mini-footer {
    p {
      font-size: 9px !important;
      text-align: center;
      a {
        color: $ui-secondary !important;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #home {
    .container {
      margin-top: 14vh;
      text-align: center;
    }
    h3 {
      max-width: 100%;
      margin-bottom: 33px;
      color: var(--ui-bck2);
      letter-spacing: 7px;
    }
    p {
      max-width: 72%;
      margin: 0 auto;
      display: block;
      margin-bottom: 55px;
      color: var(--ui-bck);
      line-height: 28px;
    }
    .btn {
      width: 219px;
      padding: 11px;
    }
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 54px;
  }
  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
  }

  .wdiw {
    max-width: 663px !important;
  }

  #carouselExampleIndicators {
    display: none;
  }

  .cards-hiw {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 750px;
  }

  #for {
    h3 {
      margin-bottom: 33px;
    }

    .wrap-ff {
      max-width: 631px;
      margin: 0 auto;
    }
    .card-for {
      flex-flow: row nowrap;
      width: 631px;
      height: 366px;
      box-shadow: $ui-shadow;
      padding-bottom: 2%;

      img {
        max-width: 345px;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  .cards-hiw {
    width: 990px;
  }
  #hiw .card {
    width: 300px;
  }
}
